<div class="container pt-3">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
        <div class="form-group">
            <label for="my-input">Title</label>
            <input id="my-input" class="form-control" type="text" formControlName="title">
            <div class="" *ngIf="postForm.get('title')?.dirty">
                <p class="text-danger" *ngIf="postForm.get('title')?.errors?.['required']">Vui lòng nhập tiêu đề</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="content"></textarea>
            <div class="" *ngIf="postForm.get('content')?.dirty">
                <p class="text-danger" *ngIf="postForm.get('content')?.errors?.['required']">Vui lòng nhập nội dung</p>
                <p class="text-danger" *ngIf="postForm.get('content')?.errors?.['minlength']">Vui lòng nhập 6 kí tự</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="status" id="flexRadioDefault1" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                Mở
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="status" id="flexRadioDefault2" value="1">
                <label class="form-check-label" for="flexRadioDefault2">
                Khóa
              </label>
            </div>
        </div>
        <div class="" *ngIf="postForm.dirty">
            <p class="text-danger" *ngIf="postForm.get('status')?.errors?.['required']">Vui lòng chọn trạng thái</p>
        </div>
        <button type="submit" class="btn btn-info my-2">Submit</button>
    </form>
</div>