<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <app-header></app-header>
    </header>
    <main class="d-flex">
        <app-aside></app-aside>
        <router-outlet></router-outlet>
    </main>
    <footer class="page-footer font-small indigo">
        <app-footer></app-footer>
    </footer>
</body>

</html>